#hw2table {
padding: 20px;
margin: auto;
border: 0px;
border-spacing: 10px;
border-collapse: collapse;
}
th {
text-align: center;
font-weight: bold;
border-bottom: black 1px solid;
width: 150px;    
}
td {
padding: 5px 0px 0px 5px;
width: 150px;
text-align: center;
}


#filterBox {
position: relative;
width:150px;
top: 50px;
right: -325px;
}