---
layout: default
---

<div class="row">
  {%include sidebar.html %}
  
  <div class="col-xs-12 col-sm-8">
  <div class="home">
    
    
    <h1 style="text-align: center; margin-top: 23px;">Welcome</h1>
    <p>By some unlikely scenario you've stumbled across my personal portfolio/blog. I hope can find something useful here, and I'd love to learn something from you.
    </p>
    <hr>
        <ul style="padding-left:0px;">
          {% for post in site.posts %}
              {% if post.categories.size != 0 %} 
              <h4>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h4>
              <!--h6><a href="{{ site.baseurl | append: '/category/' }}" >{{ post.categories.size }}</a></h6-->
              <span class="text-warning">{{ post.date | date: "%b %-d, %Y" }}</span>
              <p>{{ post.content | strip_html | truncatewords:50}}</p>
              <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a><br>
              {% endif %}
          {% endfor %}
        </ul>

  </div>
  </div>

  <div class="col-xs-12 col-sm-2">
</div>
